.title-axes{
    font-family: Montserrat, Helvetica, Times, serif;
    text-shadow: rgb(0 0 0 / 10%) -2.44px 1.775px;
    font-weight: 700;
}
.violet-1 {
    color: #662581;
    font-size: 50px !important;
}
.sky-1{
    color: #00a9bc;
    font-size: 50px !important;
}
.violet-2{
    color: #662581;
    font-size: 30px !important;
}
.violet-3{
    color: #662581;
    font-size: 20px !important;
}
.sky-2 {
    color: #00a9bc;
    font-size: 27px !important;
    font-weight: 600 !important;
}
.grey-2 {
    color: rgb(88, 88, 88);
    font-size: 27px !important;
    font-weight: 600 !important;
}
