.polis-color-lightblue {
    background-color: rgba(96, 191, 250, 0.801);
}
.polis-color-lightblue .card-info-icon:hover{
    color: rgba(155, 125, 214, 0.87) !important;
}
.polis-color-violet {
    background-color: rgba(155, 125, 214, 0.87);
}
.polis-color-violet .card-info-icon:hover {
  color: rgba(96, 191, 250) !important;
}
.card-info-style {
    cursor: pointer;
    width: 23rem;
    height: 28rem;
    transition: 0.4s;
}
.card-info-style:hover {
    transform: scale(105%);
}
.card-info-icon{
    font-size: 5rem;
    color: whitesmoke;
}
.to-top-btn {
    border-radius: 2rem;
    transition: 0.1s;
}
.to-top-btn:hover {
    border:outset;
    background-color: gray;
    color: white !important;
}
