*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container-polis{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer-polis{
	background-color: rgb(95, 98, 100);
    padding: 70px ;
    width: 100%;
}
.footer-col{
	width: 33%;
}
.footer-col h2{
	margin-left:10px;
	font-size: 25px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h2::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #850db873 ;
	height: 2px;
	box-sizing: border-box;
	width: 50px;

}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #e7e1e1;
	padding-left: 8px;
}
.social-icon {
	margin: 0 0.5rem;
    color: whitesmoke !important;
    width: 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
	transition: 0.5s;
}
.social-icon:hover  {
	color:#00a9bc94 !important ;
}

.rights-polis{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	color:#bbbbbb;
}

.arrowUp{
	background-color: transparent;
    padding: 0;
    border: none;
    font-size: 2.5rem;
	color:#acaeb1 ;
}
.arrowUp:hover svg{
	color:#00a9bc94 ;
    transition: all 0.5s ease-in-out;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 33%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}