.header-main {
    height: 68vh;
    background-color: #caccc946 !important;
    padding: 1rem 2rem;
}
.scroll-down-btn{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 2.5rem;
}
.scroll-down-btn svg{
    color: #00a9bc ;
    transition: 0.3s;
}
.scroll-down-btn:hover svg{
    color: #662581 ;
}
