.btn-polis {
    text-align: center;
    padding: 1px 6px;
    margin: 0 5px;
    padding: 2px 5px !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    color: rgb(88, 88, 88) !important;
    background: #00a9bc !important;
    border: 2px solid #00a9bc !important;
    transition-duration: 0.4s;
}
.btn-polis:hover {
    background-color: #00a9bc !important;
    border: 2px solid #abdfa9 !important;
    color: white !important;
}
.btn-polis:active {
    border: 2px solid #00a9bc !important;
}
.btn-polis:focus {
    outline: 0;
    color: #00a9bc;
    border: 2px solid #00a9bc !important;
    box-shadow: 0 0 0 0.1rem #00a9bc !important;
}