@import url(https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,400);

body {
  box-sizing: border-box;
  background-color: rgb(255, 254, 254) !important;
  color:#18191b !important ;
}
.schema-page {
  display: flex;
  flex-direction: column;
}
.title-axes{
  font-family: Montserrat, Helvetica, Times, serif;
  color: #662581;
  font-size: 30px;
  text-shadow: rgb(0 0 0 / 10%) -2.44px 1.775px;
  font-weight: 700;
}

.title-axes-insti{
  font-family: Montserrat, Helvetica, Times, serif;
  color: #662581;
  font-size: 50px;
  text-shadow: rgb(0 0 0 / 10%) -2.44px 1.775px;
  font-weight: 700;
}

.title-axes-trans {
  font-family: Montserrat, Helvetica, Times, serif;
  color: #00a9bc;
  font-size: 27px;
  text-shadow: rgb(0 0 0 / 10%) -2.44px 1.775px;
  font-weight: 600;
}