.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:318px;
    width:200px;
    z-index: 1100;
}
.sticky-side-social-icons {
    margin-top: 60px !important;
}
@media screen and (max-width: 762px) {
    .sticky-container{
        top: 420px;
    }
}
.sticky li{
    list-style-type:none;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-80px;
}
.sidebarIcon{
    width: 32px;
    height: 32px;
    color:#00a9bc;
}
.sticky li .sidebarIcon{
    float:left;
    margin:5px 1px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#662581!important;
}
.sticky li p a:hover{
    text-decoration:underline;
}